<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <title>
    User Services
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/material-dashboard.css?v=3.2.0" rel="stylesheet" />
  <style>
    /* Fix for sidebar layout */
    .g-sidenav-show .main-content {
      margin-left: 250px; /* Adjust this value to match your sidebar width */
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">
  <%- include('../accountpage/sidebar.ejs') %>
  
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3 d-flex justify-content-between align-items-center text-center">
                <h6 class="text-white text-capitalize ps-3">Manager Account</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                      <th class="text-center text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Avatar</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Active</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Role</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">createdAt</th>  
                    </tr>
                  </thead>
                  <tbody id="category-table">
                    <!-- appear data -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer py-4">
      <%- include('../partial/footer.ejs') %>
    </footer>
  </main>

  <!-- Page-specific scripts -->
  <script src="/js/plugins/jquery-3.7.1.min.js"></script>
  <script>
    $(document).ready(() => {
      $.ajax({
          url: '/getAllUser',
          method: 'post',
          success: (response) => {
              let html = '';
              const userCookie = getCookie('user');
              let currentUserId;
              if (userCookie) {
                  try {
                      const jsonString = userCookie.startsWith("j:") ? userCookie.slice(2) : userCookie;
                      const currentUser = JSON.parse(jsonString);
                      currentUserId = currentUser.id;
                  } catch (error) {
                      console.error("Error parsing JSON:", error);
                  }
              } else {
                  console.log("Cookie 'user' doesn't exist");
              }

              response.users.forEach(user => {
                let userRowClass = user.isActive ? '' : 'banned';
                let isActiveDisabled = user.isActive ? '' : 'disabled';
                let isBanDisabled = user.isActive ? '' : 'disabled'; 
                let banButton = (user.id !== currentUserId) ? `<button class="btn btn-danger btn-sm" onclick="BanUser('${user.id}')" ${isBanDisabled}>Ban</button>` : `<button class="btn btn-danger btn-sm" onclick="BanUser('${user.id}') " disabled >Ban</button>`;
                let Unbanbtn = (!user.isActive) ? `<button class="btn btn-danger btn-sm" onclick="UnbanUser('${user.id}')">Unban</button>` : ''; 
                  html += `
                  <tr class="${userRowClass}">  
                      <td class="text-center">${user.id}</td>
                      <td class="text-center">
                        ${banButton} ${Unbanbtn}
                      </td>
                      <td class="text-center">${user.firstName} ${user.lastName}</td>
                      <td class="text-center"><img src="/uploads/${user.ImageUrl ? user.ImageUrl : 'default-image.png'}" width="50"></td>
                      <td class="text-center">${user.email}</td>
                      <td class="text-center">${user.phone}</td>
                      <td class="text-center">
                          <select class="form-select" id="active-${user.id}" name="active" data-active-id="${user.id}" ${isActiveDisabled}>
                              <option value="true" ${user.isActive ? 'selected' : ''}>Active</option>
                              <option value="false" ${!user.isActive ? 'selected' : ''}>Inactive</option>
                          </select>
                      </td>
                      <td class="text-center">
                          <select class="form-select" id="role-${user.id}" name="role" data-role-id="${user.id}" ${isActiveDisabled}>
                              <option value="Admin" ${user.Role == 'Admin' ? 'selected' : ''}>Admin</option>
                              <option value="Customer" ${user.Role == 'Customer' ? 'selected' : ''}>Customer</option>
                              <option value="User" ${user.Role == 'User' ? 'selected' : ''}>User</option>
                          </select>
                      </td>
                      <td class="text-center">${user.createdAt}</td>
                  </tr>
                  `;
              });

              $('#category-table').html(html);

              // Active status change handler
              $('#category-table').on('change', 'select[name="active"]', (event) => {
                  const UserId = $(event.target).data('active-id');
                  const newActive = $(event.target).val();
                  $.ajax({
                      url: '/User/update/active',
                      method: 'PUT',
                      data: { UserId: UserId, Active: newActive },
                      success: function(response) {
                          console.log(response.message);
                          window.location.reload();
                      }
                  });
              });

              // Role change handler
              $('#category-table').on('change', 'select[name="role"]', (event) => {
                  const UserId = $(event.target).data('role-id');
                  const newRole = $(event.target).val();
                  $.ajax({
                      url: '/User/update/role',
                      method: 'PUT',
                      data: { UserId: UserId, Role: newRole },
                      success: function(response) {
                          console.log(response.message);
                          window.location.reload();
                      }
                  });
              });
          },
          error: (err) => {
              console.log('Error:', err);
          }
      });
    });

    function getCookie(name) {
      const cookies = document.cookie.split('; ');
      for (let i = 0; i < cookies.length; i++) {
        const [key, value] = cookies[i].split('=');
        if (key === name) {
          return decodeURIComponent(value);
        }
      }
      return null;
    }

    function BanUser(id){
      $.ajax({
        url: `/BanUser/${id}`,
        method: 'POST',
        success: (response) => {
          console.log(response.message);
          window.location.reload();
        }
      });
    }

    function UnbanUser(id){
      $.ajax({
        url: `/UnbanUser/${id}`,
        method: 'POST',
        success: (response) => {
          console.log(response.message);
          window.location.reload();
        }
      });
    }
  </script>
</body>
</html>