<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <title>
    Admin Dashboard
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/material-dashboard.css?v=3.2.0" rel="stylesheet" />
  <style>
    /* Fix for sidebar layout */
    .g-sidenav-show .main-content {
      margin-left: 250px;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">
  <%- include('../accountpage/sidebar.ejs') %>
  
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <br>
    <div class="container-fluid py-2">
      <div class="row">
        <div class="ms-3">
          <h3 class="mb-0 h4 font-weight-bolder">Dashboard</h3>
          <p class="mb-4">
            Check the sales, value and bounce rate by country.
          </p>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-2 ps-3">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-sm mb-0 text-capitalize">Today's Money</p>
                  <h4 class="mb-0">$<span id="totalMoneyToday"></span></h4>
                </div>
                <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                  <i class="material-symbols-rounded opacity-10">weekend</i>
                </div>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
              <p class="mb-0 text-sm"><span class="text-success font-weight-bolder precentchange">+55% </span> than last week</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-2 ps-3">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-sm mb-0 text-capitalize">Total Money</p>
                  <h4 class="mb-0">$<span id="totalMoney"></span></h4>
                </div>
                <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                  <i class="material-symbols-rounded opacity-10">weekend</i>
                </div>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
              <p class="mb-0 text-sm"><span class="text-success font-weight-bolder">+30% </span>than last week</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-2 ps-3">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-sm mb-0 text-capitalize">Today's Users</p>
                  <h4 class="mb-0"><span id="AccountToday"></span></h4>
                </div>
                <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                  <i class="material-symbols-rounded opacity-10">person</i>
                </div>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
              <p class="mb-0 text-sm"><span class="text-success font-weight-bolder precentchangeuser" >+3% </span>than yesterday</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-header p-2 ps-3">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-sm mb-0 text-capitalize">Revenue Differences</p>
                  <h4 class="mb-0" >$<span id="revenuedifferences"></span> - <span id="revenuestatus"></span></h4>
                </div>
                <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                  <i class="material-symbols-rounded opacity-10">weekend</i>
                </div>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
              <p class="mb-0 text-sm">(<span class="text-success font-weight-bolder precentchange"></span>) than yesterday</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-0 ">Revenue Chart</h6>
              <p class="text-sm "> <span class="font-weight-bolder precentchange">+15%</span> than yesterday </p>
              <div class="pe-2">
                <div class="chart" >
                  <canvas id="revenue-chart-bar" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-symbols-rounded text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> campaign sent 2 days ago </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card ">
            <div class="card-body">
              <h6 class="mb-0 "> User join chart </h6>
              <p class="text-sm "> <span class="font-weight-bolder precentchangeuser"></span> than yesterday </p>
              <div class="pe-2">
                <div class="chart">
                  <canvas id="userjoinchart" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-symbols-rounded text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer py-4">
        <%- include('./../partial/footer.ejs') %>
      </footer>
    </div>
  </main>

  <!-- Page-specific scripts -->
  <script src="/js/plugins/jquery-3.7.1.min.js"></script>
  <script src="/js/plugins/chartjs.min.js"></script>
  <script>
    let userRole;
    $(document).ready(function (){
      $.ajax({
        url: '/getMoneyToday',
        method: 'POST',
        success: function (response) {
          $('#totalMoneyToday').html(response.totalMoneyToday);
        }
      });

      $.ajax({
        url: '/getMoneyTotal',
        method: 'POST',
        success: function (response) {
          $('#totalMoney').html(response.totalMoney);
        }
      });

      $.ajax({
        url: '/getAccountToday',
        method: 'POST',
        success: function (response) {
          $('#AccountToday').html(response.UserToday);
        }
      });

      $.ajax({
        url: '/getRevenue',
        method: 'POST',
        success: function (response) {
          $('#revenuedifferences').html(response.revenueDifference);
          $('#revenuestatus').html(response.status);
          $('.precentchange').html(response.percentChange);
        }
      });

      $.ajax({
        url: '/getUserRevenue',
        method: 'POST',
        success: function (response) {
          $('.precentchangeuser').html(response.percentChange);
        }
      });

      $.ajax({
        url: '/getMoneybyWeek',
        method: 'POST',
        success: function (response) {
            const labels = response.weekRevenue.map(item => item.day);
            const values = response.weekRevenue.map(item => item.total);

            const ctx = $("#revenue-chart-bar").get(0).getContext("2d");

            if (window.revenueChart instanceof Chart) {
                window.revenueChart.destroy();
            }

            window.revenueChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Doanh thu (VND)",
                        data: values,
                        backgroundColor: "rgba(54, 162, 235, 0.5)",
                        borderColor: "rgba(54, 162, 235, 1)",
                        borderWidth: 2
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: { display: true, text: "Doanh thu theo tuần" }
                    },
                    scales: {
                        y: { beginAtZero: true }
                    }
                }
            });
        },
        error: function (err) {
            console.error("Lỗi khi lấy dữ liệu doanh thu:", err);
        }
      });
      
      $.ajax({
        url: '/getUserbyWeek',
        method: 'POST',
        success: function (response) {
            const labels = response.weekUser.map(item => item.day);
            const values = response.weekUser.map(item => item.total);

            const ctx = $("#userjoinchart").get(0).getContext("2d");

            if (window.revenueUserChart instanceof Chart) {
                window.revenueUserChart.destroy();
            }

            window.revenueUserChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "User join)",
                        data: values,
                        backgroundColor: "rgba(54, 162, 235, 0.5)",
                        borderColor: "rgba(54, 162, 235, 1)",
                        borderWidth: 2
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: { display: true, text: "So nguoi dung dang ky tai khoan moi ngay" }
                    },
                    scales: {
                        y: { beginAtZero: true }
                    }
                }
            });
        },
        error: function (err) {
            console.error("Lỗi khi lấy dữ liệu doanh thu:", err);
        }
      });
      
      $.ajax({
        url: '/api/getRoleUser',
        method: 'GET',
        success: function (response) {
          userRole = response.userRole;
        }
      })
    });

    const adminFunctions = ['Manager Order'];
    
    $('#dashboard-search').on('input', () => {
      let searchValue = $(this).val().toLowerCase();
      let filteredFunctions = adminFunctions.filter(f => f.toLowerCase().includes(searchValue));
      
      let suggestionBox = $('#admin-functions');
      suggestionBox.empty();
      
      if (filteredFunctions.length > 0) {
          filteredFunctions.forEach(func => {
              suggestionBox.append(`<li onclick="selectFunction('${func}')">${func}</li>`);
          });
          suggestionBox.show();
      } else {
          suggestionBox.hide();
      }
    });

    function selectFunction(value) {
      $('#dashboard-search').val(value);
      $('#admin-functions').hide();
    }
  </script>
</body>
</html>