<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2  bg-white my-2" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-dark opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand px-4 py-3 m-0" href="/" target="_blank">
        <img src="/img/logo-ct-dark.png" class="navbar-brand-img" width="26" height="26" alt="main_logo">
        <span class="ms-1 text-sm text-dark">Home Page</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <% if( user?.Role == 'Admin'){%>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/admin">
              <i class="material-symbols-rounded opacity-5">dashboard</i>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/manager/account">
              <i class="material-symbols-rounded opacity-5">person_add</i>
              <span class="nav-link-text ms-1">Manage Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/categoryServices">
              <i class="material-symbols-rounded opacity-5">demography</i>
              <span class="nav-link-text ms-1">Manage Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/productServices">
              <i class="material-symbols-rounded opacity-5">shopping_bag</i>
              <span class="nav-link-text ms-1">Manage Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/orderAdmin">
              <i class="material-symbols-rounded opacity-5">shopping_cart</i>
              <span class="nav-link-text ms-1">Manage Orders</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/manager/event">
              <i class="material-symbols-rounded opacity-5">event</i>
              <span class="nav-link-text ms-1">Manage Events</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/manager/comment">
              <i class="material-symbols-rounded opacity-5">comment</i>
              <span class="nav-link-text ms-1">Manage Comments</span>
            </a>
          </li>
        <% } %>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-dark font-weight-bolder opacity-5">Account pages</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/notification">
            <i class="material-symbols-rounded opacity-5">notifications</i>
            <span class="nav-link-text ms-1">Notifications</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-gradient-dark text-white" href="/profile">
            <i class="material-symbols-rounded opacity-5">person</i>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/order">
            <i class="material-symbols-rounded opacity-5">shopping_cart</i>
            <span class="nav-link-text ms-1">Orders</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-gradient-dark text-white" href="/logout">
            <i class="material-symbols-rounded opacity-5">lock</i>
            <span class="nav-link-text ms-1">Logout</span>
          </a>
        </li> 
      </ul>
    </div>
  </aside>
  
  <!-- Common Scripts -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/js/material-dashboard.min.js?v=3.2.0"></script>